root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{nim,nims,nimble}]
charset = utf-8
indent_style = space
indent_size = 3

[*.{js,json,yml,yaml}]
charset = utf-8
indent_style = space
indent_size = 3
