version: 2
jobs:
  build:
    docker:
      - image: nimlang/nim
    steps:
      - run: echo 'export PATH=~/.nimble/bin:$PATH' >> $BASH_ENV
      - checkout
      # Reuse cached directories
      - restore_cache:
          key: nim-0000
      - save_cache:
          key: nim-0000
          paths:
            - .nimble
      - run: nimble install -dy
      - run: nimble webapp -y
      - persist_to_workspace:
          root: ./
          paths:
            - webapp

  deploy:
    docker:
      - image: circleci/node
    steps:
      - checkout
      # Attach the pesisted built files.
      - attach_workspace:
          at: ./
      - run:
          name: Install netlify-cli
          command: sudo npm install -g --silent netlify-cli
      - run: ls webapp
#      - run:
#          name: Deploy to Netlify
#          command: netlify deploy --dir=./webapp -p

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
#          filters:
#            branches:
#              only: master
